[submodule "postprocessing/meshcut"]
	path = postprocessing/meshcut
	url = https://github.com/julienr/meshcut.git
[submodule "processing/keras-deeplab-v3-plus"]
	path = training/keras-deeplab-v3-plus
	url = https://github.com/bonlime/keras-deeplab-v3-plus.git
[submodule "training/iphigen"]
	path = training/iphigen
	url = https://github.com/ofgulban/iphigen.git
[submodule "paper/PlotNeuralNet"]
	path = paper/PlotNeuralNet
	url = https://github.com/daniel-cheng/PlotNeuralNet.git
[submodule "training/FrontLearning"]
	path = training/FrontLearning
	url = https://github.com/yaramohajerani/FrontLearning.git
