/*.h5
/*.TIF
rasters
/calvingfrontmachine
testing_calfin
testing
*.pyc
*.h5
/training/temp
/processing/landsat_raw
/preprocessing/CalvingFronts
/training/data/all
CalvingFronts
landsat_raw
train
sentinel_raw
videos
processing
reprocessing
pdfs
qa_images
qgis_screenshots
qgis_screnshots_old
qgis_videos
promice
esacci
measures
/training/data/fjord_boundaries_tif/Shackleton_fjord_boundaries.tif
*.npy
CALFINLatex
