/*.h5
/*.TIF
rasters
/calvingfrontmachine
testing_calfin
testing
*.pyc
*.h5
/training/temp
/processing/landsat_raw
/preprocessing/CalvingFronts
/training/data/all
CalvingFronts
landsat_raw
train
sentinel_raw
videos
processing
reprocessing
pdfs
qa_images
qgis_screenshots
qgis_screnshots_old
qgis_videos
promice
esacci
measures
/training/data/fjord_boundaries_tif/Shackleton_fjord_boundaries.tif
*.npy
CALFINLatex
production_staging
calfin_on_baumhoer
calfin_on_baumhoer_old
calfin_on_calfin_helheim
calfin_on_calfin_train
calfin_on_calfin_train_reference
calfin_on_calfin_validation
calfin_on_calfin_validation_no-l7sce
calfin_on_calfin_validation_only-l7sce
calfin_on_calfin_validation_reference
calfin_on_mohajerani
calfin_on_zhang
mask_extractor
mohajerani_on_calfin
mohajerani_retrained_on_calfin_validation
production
scripts
upload
level-0_domains
level-0_fjord-boundaries
level-0_glacier-ids-bjork-joughin
level-0_neural-network-weights
level-0_scene-lists
level-0_training-data
